/*
In last lecture, we created the problem that red main header element here collapsed its height
which, remember, was because all of its child elements are right now floated. Okay? 
And so in order to fix that we need to now clear those floats and the easiest way of doing that,
which is not the best way, but it is the easiest one, is to simply add another element here to the header
and then clear the floats from there.
So, check header element in html file with child div element with class clear.
Lets also add the style to it to clear the float.

*/

/*.  */
* {
  margin: 0;
  padding: 0;
}
body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
  position: relative;
}
.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  /*- Shortcut : margin : 0 auto;  */
}
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

h1,
h2,
h3 {
  /** We can change the color of the text using color property. */
  /*.  */
  color: #1098ad;
}

h1 {
  font-size: 26px;

  font-family: sans-serif;

  text-transform: uppercase;

  font-style: italic;
}

h2 {
  font-size: 40px;
  font-family: sans-serif;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-family: sans-serif;
  font-size: 20px;
}

footer p {
  font-size: 16px;
}

#author {
  font-style: italic;
}

.related-author {
  font-size: 18px;

  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
  /* background-color: red; */
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

.post-img {
  width: 100%;
  height: auto;
}
.post-header {
  margin-bottom: 40px;
}

nav {
  margin-top: 20px;
}

article {
  margin-bottom: 60px;
}

aside {
  background-color: #f7f7f7;

  /*- border : width style-of-border color-of-border; */
  /* border: 5px solid #1098ad; */
  padding: 50px 0; /*. This will add padding to top and bottom only */
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  width: 500px;
}

/*. */
li:first-child {
  font-weight: bold;
  margin-bottom: 10px;
}
/*. */
li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

/*.  */
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

/*. */
li:nth-child(2) {
  color: red;
}

/*.  */
a:link {
  color: #1098ad;
  text-decoration: none;
}

/*.  */
a:visited {
  color: #1098dd;
}

/*.  */
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline wavy orangered;
}

/*. */
a:active {
  background-color: wheat;
  font-style: italic;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px; /*- 50 px from bottom */
  right: 50px; /*- 50 px from right */
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}
p::first-line {
  color: rebeccapurple;
}

h3 + p::first-line {
  color: red;
}

h2 {
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: yellow;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15;
  right: -25;
}

/** Floats */
/*. Right now image of Laura Jones and text "Posted by Laura Jones on Monday, June 21st 2027" */
/*. are not side by side. The text is below the image. We can change the display property to */
/*. to fix this. But lets try to do it using floats.  */
/*. Lets add a class to above mentioned text element. Same for that image element.  */
/*.  */
.author-img {
  /** The image element will come to the left side of the text from top.  */
  /** with this, what is going to happen is that this image is basically going to be taken out  */
  /** of the document flow just like an absolutely positioned element. Now, the difference here with floats  */
  /** is that then all the other elements will basically float around it. Means the text element will always  */
  /** follow this image element. */
  float: left;
  margin-bottom: 20px;
}
.author {
  /*- For */
  /*- margin-left: 80px; below is the description */
  /** Since the .author-img element has been completly taken out from the flow to place it */
  /** on the left side of the text, Normal margin-left will not work on the text element if  */
  /** you want to move the text to bit right. Because, the image is you can say over the element of text.  */
  /** So in such cases you will need to apply more margin.  */
  /** So, here even though the margin 80px looks a lot, on main window its really not. */
  /** Its always better to check the margin and etc using style Tab.  */
  margin-left: 80px;
  /** margin top will work normally. */
  margin-top: 10px;
  /*- To fox that margin left issue, we can also make this element float left */
  /*- In this case, if you use below line, you will have to reduce the margin-left  */
  /*. float: left; */
  /*- If you do margin:right, then whole text element will move to right side.  */
}

/** Lets make "The Code Magazine on left side and then in same line lets add nav links on right side.  */
h1 {
  float: left;
}
nav {
  float: right;
}

.clear {
  /*! We can clear left floats, or we can clear right floats. Since above, we are using both */
  /*! lets use both here.  Otherwise we would have used clear:left; or clear:right;*/
  /** Now, doing this will bring back the heigt of our header element, which can again use  */
  /** for styling for example backgroud-color  */
  clear: both;
}
/* 
Since there was no update, all developers used to use this float property. 
Whenever they wanted to add four columns in 1 row then they have to add float property to each column. 
Then they would have to add the empty element in that row or in that parent container. 
Then they have to come to CSS and clear that float for that parent container's child element.
*/

/*- Another way around to avoid adding the empty element in the parent element.  */
/*. The clearfix hack is something that has been widely used for many, many years in the CSS community.  */
/*. And the reason for that is exactly to avoid having these kind of empty divs in parent element.  */
/*. We add a class to our header element called "clearfix"  */
/*. Then we add a after pseudo element on it. */
/*. And remember that what this one does is to basically */
/*. create a new element which will be the last child element of the container. */
/*. And so, in a way, doing this is exactly the same as adding empty div here manually, right?  */
/*. then hear we add clear:both  */
/*.  */
.clearfix::after {
  clear: both;
  /*. Remember two particularities about the after pseudo element.  */
  /*. So, first of all, it only appears if we define something for the content property.  */
  /*. So, in content, there needs to be something even if it's just like empty text: */
  content: "";
  /*. And then, also by default, pseudo elements like "after" and "before" are inline elements. */
  /*. However, clearing floats like this only really works on a block level element.  */
  /*. And so we set the display property on this element to "block".  */
  display: block;
}
